nav {
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 10px;
}

nav ul {
    list-style: none;
    display: flex;
    gap: 10px;
    justify-content: center;
    align-items: center;
    padding: 0px;
}

nav ul li a {
    text-decoration: none;
    color: #000;
    padding: 10px;
    border-radius: 5px;
    transition: all 0.3s ease;
}

nav ul li a:hover {
    background-color: #000;
    color: #fff;
}

main {
    padding: 20px;
}

section{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 10px;
    width: 900px;
    margin: 0 auto;
}

form {
    display: flex;
    flex-direction: column;
    gap: 10px;
    width: 100%;
}

form input,
textarea {
    padding: 10px;
    border: 1px solid #ccc;
    border-radius: 5px;
}

form button {
    padding: 10px;
    background-color: #000;
    color: #fff;
    border: none;
    border-radius: 5px;
    cursor: pointer;
}

form button:hover {
    background-color: #fff;
    color: #000;
}

footer {
    text-align: center;
    padding: 10px;
    background-color: #f1f1f1;
}
